.main-section{
	margin: 0 auto;
	margin-top: 5%;
	padding: 0;
}

.user-img{
	margin-top: -50px;
	margin-bottom: 35px;
}

.user-img img{
	width: 100px;
	height: 100px;
}

.table-container{
	margin-top: 30px;
}

th{
	max-width: auto;
	white-space: nowrap;
}

.page-item.active .page-link {
	background-color: lightgrey !important;
	border: 1px solid black !important;
}
.page-link {
	color: black !important;
}


